astroid==3.3.5 ; python_version >= "3.12" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
dill==0.3.9 ; python_version >= "3.12" and python_version < "4.0"
gitdb==4.0.11 ; python_version >= "3.12" and python_version < "4.0"
gitpython==3.1.43 ; python_version >= "3.12" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.12" and python_version < "4.0"
lint==1.2.1 ; python_version >= "3.12" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4.0"
pylint==3.3.1 ; python_version >= "3.12" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.13.2 ; python_version >= "3.12" and python_version < "4.0"
